<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>country1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>country2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>country3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
            <key>country4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{90,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,67}}</string>
                <key>sourceSize</key>
                <string>{90,67}</string>
            </dict>
            <key>country5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{90,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,66}}</string>
                <key>sourceSize</key>
                <string>{90,66}</string>
            </dict>
            <key>country6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{90,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,69}}</string>
                <key>sourceSize</key>
                <string>{90,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>country.pvr.ccz</string>
            <key>size</key>
            <string>{94,423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e9cccbf817e48a083e78999d078b9b3:78cd4f04eba3130a66a11c4e9ebedbe6:86ae53195c67df5f61a19ebaddbb7f88$</string>
            <key>textureFileName</key>
            <string>country.pvr.ccz</string>
        </dict>
    </dict>
</plist>
