<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>0点30分</string>
	<string>1点</string>
	<string>1点30分</string>
	<string>2点</string>
	<string>2点30分</string>
	<string>3点</string>
	<string>3点30分</string>
	<string>4点</string>
	<string>4点30分</string>
	<string>5点</string>
	<string>5点30分</string>
	<string>6点</string>
	<string>6点30分</string>
	<string>7点</string>
	<string>7点30分</string>
	<string>8点</string>
	<string>8点30分</string>
	<string>9点</string>
	<string>9点30分</string>
	<string>10点</string>
	<string>10点30分</string>
	<string>11点</string>
	<string>11点30分</string>
	<string>12点</string>
	<string>12点30分</string>
	<string>13点</string>
	<string>13点30分</string>
	<string>14点</string>
	<string>14点30分</string>
	<string>15点</string>
	<string>15点30分</string>
	<string></string>
</array>
</plist>
